@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root, main, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main{
  min-width: 360px;
}

.warpper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
main{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}
header{
  display: block;
}
.nav{
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 3rem;
}
.container__logo{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}
.container__logo img{
  aspect-ratio: 1 / 1;
}
.container__logo img, .container__logo span{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.menu{
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items: center;
}
.content{
  max-width: 1280px;
  display: flex;
  flex-direction: row-reverse;
  gap:1rem;
  padding: 1.5rem 3rem;
  margin:auto;
}
.container__animation{
  flex: 1;
  flex-basis: 100%;
}
.container__animation svg{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.container__banner{
  flex: 1;
  flex-basis: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  justify-content: center;
}
.cta__project {
  padding: 1rem 0rem;
  height:max-content;
}
.banner__content{
  padding: 1rem 0rem;
}
.project__container{
  max-width: 1280px;
  padding: 1.5rem 3rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .project__container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .project__container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap:3rem;
  }
  .content{
    flex-direction: column;
  }
  .container__footer{
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }
  .cta__project{
    text-align: center;
  }
}
.project__item{
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  padding: 0rem;
}

.project__img__container{
  width: 100%;

}
.project__img__container img{
  aspect-ratio: 2 / 1;
  display: block;
  object-fit: cover;
}
.project__tags{
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding:1rem;
  /* margin:auto; */
  /* padding:1rem; */
  gap:0.5rem;
}
.project__txt{
  padding: 0rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* display: flex;
  flex-direction: column;
  padding:0.5rem;
  margin:auto;
  padding:1rem;
  gap:0.5rem; */
  min-width: 0;
  /* padding: 0rem 1rem 1rem 1rem; */
}
.project__txt p{
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project__txt p, .project__txt h1{
  margin: 0.5rem 0rem;
  min-width: 0;
}
.project__txt p:last-child{
  min-height: 4rem;
}
.project__item i{
  width: fit-content;
  margin:1rem 1rem 1rem auto;
}
/* .project__txt i{
  width:fit-content;
  margin-left: auto;
  min-width: 0;
} */
.project__tags ul{
  display: flex;
  flex-direction: row;
  gap:1rem;
  
}
.project__tags span{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}
.project__tags svg {
  display: block;
  margin-right: 1rem;
  margin:auto;
}
.container__footer{
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.footer__icons{
  display: flex;
  flex-direction: row;
}
.cta__project{
  text-align: left;
}
.btn{
  @apply text-gray-200 bg-gray-800 hover:text-gray-700 hover:bg-gray-400 font-semibold dark:text-gray-400 dark:hover:text-gray-100 border m-3 border-solid rounded-md; 
}

.bg-primary {
  @apply bg-white dark:bg-zinc-800;
}
.bg-secondary{
  @apply bg-gray-200 dark:bg-gray-900;
}
.bg-footer{
  @apply bg-gray-100 dark:bg-zinc-900;
}

/* h1 */
.txt-primary{
  @apply text-black dark:text-white;
}
/* body-text */
.txt-secondary{
  @apply text-gray-400 dark:text-gray-200 font-medium;
}
/* distinct */
.txt-emphasis{
  @apply text-blue-800 dark:text-blue-200;
}
/* main link and footer link */
.txt-link{
  @apply text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-100;
}
.btn-secondary{
  @apply text-gray-200 bg-gray-800 hover:text-gray-700 hover:bg-gray-400 font-semibold dark:text-gray-400 dark:hover:text-gray-100 border border-solid py-3 px-5 rounded-md; 
}

.project__item {
  @apply border border-gray-200 rounded-md;
}

.project__item:hover {
  @apply border border-gray-300 scale-105 duration-150 ease-in-out shadow-xl;
}
